In [2]:
import numpy as np
import pandas as pd

In [4]:
pwd

'C:\\Users\\Anand\\Pictures\\carleton\\Topics in Signal poroces 1\\Project'

In [27]:
path = 'C:\\Users\\Anand\\Pictures\\carleton\\Topics in Signal poroces 1\\Project\\Data\\'
df=pd.read_csv(path+'key.csv')
df

    store_nbr  station_nbr
0           1            1
1           2           14
2           3            7
3           4            9
4           5           12
5           6           14
6           7            6
7           8            4
8           9           17
9          10           12
10         11           10
11         12           11
12         13            6
13         14           16
14         15           13
15         16            2
16         17           20
17         18           17
18         19           15
19         20            7
20         21            3
21         22           10
22         23           17
23         24            9
24         25           13
25         26           17
26         27           10
27         28            7
28         29            3
29         30           19
30         31           17
31         32           13
32         33            3
33         34           17
34         35            5
35         36           18
36         37           13
37         38           14
38         39            8
39         40           13
40         41           12
41         42           14
42         43           11
43         44           12
44         45           16

In [10]:
a=df['store_nbr']

In [12]:
b=df['station_nbr']

In [26]:
keydf=pd.DataFrame(b,a)
keydf.station_nbr

store_nbr
1     14.0
2      7.0
3      9.0
4     12.0
5     14.0
6      6.0
7      4.0
8     17.0
9     12.0
10    10.0
11    11.0
12     6.0
13    16.0
14    13.0
15     2.0
16    20.0
17    17.0
18    15.0
19     7.0
20     3.0
21    10.0
22    17.0
23     9.0
24    13.0
25    17.0
26    10.0
27     7.0
28     3.0
29    19.0
30    17.0
31    13.0
32     3.0
33    17.0
34     5.0
35    18.0
36    13.0
37    14.0
38     8.0
39    13.0
40    12.0
41    14.0
42    11.0
43    12.0
44    16.0
45     NaN
Name: station_nbr, dtype: float64

In [17]:
dictionary = dict(zip(a, b))

In [18]:
dictionary

{1: 1,
 2: 14,
 3: 7,
 4: 9,
 5: 12,
 6: 14,
 7: 6,
 8: 4,
 9: 17,
 10: 12,
 11: 10,
 12: 11,
 13: 6,
 14: 16,
 15: 13,
 16: 2,
 17: 20,
 18: 17,
 19: 15,
 20: 7,
 21: 3,
 22: 10,
 23: 17,
 24: 9,
 25: 13,
 26: 17,
 27: 10,
 28: 7,
 29: 3,
 30: 19,
 31: 17,
 32: 13,
 33: 3,
 34: 17,
 35: 5,
 36: 18,
 37: 13,
 38: 14,
 39: 8,
 40: 13,
 41: 12,
 42: 14,
 43: 11,
 44: 12,
 45: 16}