In [1]:
# data analysis
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:

lm = LinearRegression()
train_df = pd.read_csv('train.csv')
weather_df = pd.read_csv('weather.csv')
key_df = pd.read_csv('key.csv')
print(train_df.head())

         date  store_nbr  item_nbr  units
0  2012-01-01          1         1      0
1  2012-01-01          1         2      0
2  2012-01-01          1         3      0
3  2012-01-01          1         4      0
4  2012-01-01          1         5      0

In [3]:
comb_1_df = pd.merge(key_df, weather_df, on='station_nbr')
comb_2_df = pd.merge(train_df, comb_1_df, on=['store_nbr', 'date'])

In [71]:
few_comb2_df =comb_2_df.head(10000)
few_comb2_df.head(10)

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,...,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,2012-01-01,1,1,0,1,52,31,42,M,36,...,-,-,RA FZFG BR,M,0.05,29.78,29.92,3.6,20,4.6
1,2012-01-01,1,2,0,1,52,31,42,M,36,...,-,-,RA FZFG BR,M,0.05,29.78,29.92,3.6,20,4.6
2,2012-01-01,1,3,0,1,52,31,42,M,36,...,-,-,RA FZFG BR,M,0.05,29.78,29.92,3.6,20,4.6
3,2012-01-01,1,4,0,1,52,31,42,M,36,...,-,-,RA FZFG BR,M,0.05,29.78,29.92,3.6,20,4.6
4,2012-01-01,1,5,0,1,52,31,42,M,36,...,-,-,RA FZFG BR,M,0.05,29.78,29.92,3.6,20,4.6
5,2012-01-01,1,6,0,1,52,31,42,M,36,...,-,-,RA FZFG BR,M,0.05,29.78,29.92,3.6,20,4.6
6,2012-01-01,1,7,0,1,52,31,42,M,36,...,-,-,RA FZFG BR,M,0.05,29.78,29.92,3.6,20,4.6
7,2012-01-01,1,8,0,1,52,31,42,M,36,...,-,-,RA FZFG BR,M,0.05,29.78,29.92,3.6,20,4.6
8,2012-01-01,1,9,29,1,52,31,42,M,36,...,-,-,RA FZFG BR,M,0.05,29.78,29.92,3.6,20,4.6
9,2012-01-01,1,10,0,1,52,31,42,M,36,...,-,-,RA FZFG BR,M,0.05,29.78,29.92,3.6,20,4.6

In [67]:
few_comb2_df_tmax=few_comb2_df[few_comb2_df['tmax']=='M']
few_comb2_df_tmax

Empty DataFrame
Columns: [date, store_nbr, item_nbr, units, station_nbr, tmax, tmin, tavg, depart, dewpoint, wetbulb, heat, cool, sunrise, sunset, codesum, snowfall, preciptotal, stnpressure, sealevel, resultspeed, resultdir, avgspeed]
Index: []

[0 rows x 23 columns]

In [68]:
few_comb2_df_tmin=few_comb2_df[few_comb2_df['tmin']=='M']
few_comb2_df_tmin

Empty DataFrame
Columns: [date, store_nbr, item_nbr, units, station_nbr, tmax, tmin, tavg, depart, dewpoint, wetbulb, heat, cool, sunrise, sunset, codesum, snowfall, preciptotal, stnpressure, sealevel, resultspeed, resultdir, avgspeed]
Index: []

[0 rows x 23 columns]

In [84]:
few_comb2_df_tavg=few_comb2_df[few_comb2_df['tavg']=='M']
few_comb2_df_tavg.head()

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,...,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
4107,2012-01-01,39,1,0,8,66,45,M,M,34,...,-,-,RA BR,M,0.00,30.05,M,11.0,36,10.9
4108,2012-01-01,39,2,0,8,66,45,M,M,34,...,-,-,RA BR,M,0.00,30.05,M,11.0,36,10.9
4109,2012-01-01,39,3,0,8,66,45,M,M,34,...,-,-,RA BR,M,0.00,30.05,M,11.0,36,10.9
4110,2012-01-01,39,4,0,8,66,45,M,M,34,...,-,-,RA BR,M,0.00,30.05,M,11.0,36,10.9
4111,2012-01-01,39,5,0,8,66,45,M,M,34,...,-,-,RA BR,M,0.00,30.05,M,11.0,36,10.9

In [89]:
few_comb2_df_tavg=few_comb2_df[few_comb2_df['tavg']=='M']
few_comb2_df_tavg['tavg']=((few_comb2_df_tavg['tmax'].astype(int)+few_comb2_df_tavg['tmin'].astype(int))/2).astype(int)
few_comb2_df_tavg['tavg']

C:\Users\Anand\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

4107    55
4108    55
4109    55
4110    55
4111    55
4112    55
4113    55
4114    55
4115    55
4116    55
4117    55
4118    55
4119    55
4120    55
4121    55
4122    55
4123    55
4124    55
4125    55
4126    55
4127    55
4128    55
4129    55
4130    55
4131    55
4132    55
4133    55
4134    55
4135    55
4136    55
        ..
9072    47
9073    47
9074    47
9075    47
9076    47
9077    47
9078    47
9079    47
9080    47
9081    47
9082    47
9083    47
9084    47
9085    47
9086    47
9087    47
9088    47
9089    47
9090    47
9091    47
9092    47
9093    47
9094    47
9095    47
9096    47
9097    47
9098    47
9099    47
9100    47
9101    47
Name: tavg, Length: 222, dtype: int32

In [75]:


few_comb2_df_tavg['tavg'].fillna(few_comb2_df.groupby("tmax")["tmin"].transform("mean"), inplace=True)
few_comb2_df_tavg

DataError: No numeric types to aggregate

In [47]:



few_comb2_df_na= few_comb2_df.replace('M', np.nan)
few_comb2_df_zero= few_comb2_df_na.fillna(few_comb2_df_na['depart'].mean)
few_comb2_df_zero.

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,...,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,2012-01-01,1,1,0,1,52,31,42,<bound method Series.mean of 0 NaN\n1 ...,36,...,-,-,RA FZFG BR,<bound method Series.mean of 0 NaN\n1 ...,0.05,29.78,29.92,3.6,20,4.6
1,2012-01-01,1,2,0,1,52,31,42,<bound method Series.mean of 0 NaN\n1 ...,36,...,-,-,RA FZFG BR,<bound method Series.mean of 0 NaN\n1 ...,0.05,29.78,29.92,3.6,20,4.6
2,2012-01-01,1,3,0,1,52,31,42,<bound method Series.mean of 0 NaN\n1 ...,36,...,-,-,RA FZFG BR,<bound method Series.mean of 0 NaN\n1 ...,0.05,29.78,29.92,3.6,20,4.6
3,2012-01-01,1,4,0,1,52,31,42,<bound method Series.mean of 0 NaN\n1 ...,36,...,-,-,RA FZFG BR,<bound method Series.mean of 0 NaN\n1 ...,0.05,29.78,29.92,3.6,20,4.6
4,2012-01-01,1,5,0,1,52,31,42,<bound method Series.mean of 0 NaN\n1 ...,36,...,-,-,RA FZFG BR,<bound method Series.mean of 0 NaN\n1 ...,0.05,29.78,29.92,3.6,20,4.6

In [41]:
few_comb2_df_zero.mean()

store_nbr       5.005
item_nbr       55.945
units           1.425
station_nbr     9.336
dtype: float64

In [ ]:
df.loc[df['column_name'].isin(some_values)]

In [ ]:
train_final_y_df = comb_2_df['units']
# print(len(train_final_y_df))
comb_2_df.drop = comb_2_df.drop(['station_nbr'], axis=1)
train_final_x_df = comb_2_df.drop('units', axis=1)
# print(train_final_x_df.info())
#lm.fit(train_final_x_df, train_final_y_df)
# print(lm.intercept_)